html{
    background-color: #ffffff!important;
    height: 100%;
    width: 100%;
}
.top {
    width: 100%;
    height: 4.5rem;
    background-color: #6a6198;
    position: relative;
}

.reflectCon {
    position: absolute;
    right: .1rem;
    top: .25rem;
    color: #ffffff;
    font-size: .28rem;
}

.reflectTip {
    width: .16rem;
    height: .16rem;
    border-top: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    transform: rotate(45deg);
}

.banner {
    width: 4.38rem;
    height: auto;
    bottom: .84rem;
    position: absolute;


}

.text-wrapper {
    position: absolute;
    width: 4.38rem;
    bottom: .84rem;

}

.text-wrapper>.text {
    color: #ffffff;
    font-size: .3rem;

}

.text-wrapper>.num {
    color: #ffffff;
    font-size: .73rem;
    margin-top: .25rem;

}

.text-wrapper>.detail {
    margin-top: .25rem;
    color: #ffffff;
    font-size: .3rem;
    width: 1.94rem;
    height: .51rem;
    border-radius: .26rem;
    background-color: #a197d7;

}

.defalut {
    width: .16rem;
    height: .16rem;
    border-top: 1px solid #848484;
    border-right: 1px solid #848484;
    transform: rotate(45deg);
}

.template {
    margin-left: .32rem;
    height: 1rem;

    padding-right: .32rem;
    color: #6f6f6f;
    font-size: .31rem;
}
.template>.item>a>.name{
    color: #909090;
    font-size: .28rem;

}
.border {
    border-bottom: 1px solid #dfe0e5;
}

.bar {
    height: .17rem;
    width: 100%;
    background-color: #f5f5f5;
}

.switch {
    width: .72rem;
    height: .44rem;
}
.delete{
    width: 100%;
    height: 1.03rem;
    border-radius: .1rem;
    color: #ff5a5a;
    font-size: .31rem;
    
}
.mine{
    width: 100%;
    height: 1.03rem;
    border-radius: .1rem;
    font-size: .31rem;
   
}
.coleorOne{
    color: #080808;
}
.colorTwo{
    color: #000000;
}
